[Unit]
Description=Sans car website on NGINX

[Service]
# Replace with your system config
WorkingDirectory=/opt/SansCar/
# If launch profile doesn't work, the ASPNETCORE_ENVIRONMENT variable should be enough
ExecStart=/usr/bin/dotnet /opt/SansCar/deployable/Website.dll --launch-profile Production
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=sans-web
User=sanscar
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=DOTNET_CLI_TELEMETRY_OPTOUT=1

[Install]
WantedBy=default.target

