node_modules/

**/bin/
**/obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vscode/

**/.env
*.env

**/config.json

*.DotSettings.user

deployable/

# Lavalink jar, configs, and logs
**/lavalink.yml
**/lavalink.*.yml
**/application.yml
**/application.*.yml
**/Lavalink.jar
**/logs
