**/bin/
**/obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

**/.env
*.env

**/config.json

*.DotSettings.user

# Lavalink jar, configs, and logs
**/lavalink.yml
**/lavalink.*.yml
**/application.yml
**/application.*.yml
**/Lavalink.jar
**/logs
