
.about-card {
    width: 100%;
    background-color: #3d3b3c;
    box-shadow: 5px 5px #000000;
}

.about-header {
    background-color: #323031;
}

.about-header h1 {
    margin: 0;
}

.about-body {
    background-color: #3d3b3c;
}

.about-body h2 {
    margin: 0;
}

.about-body p {
    margin: 0;
}
