.home-container {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    overflow-y: auto;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-item {
    margin: 0;
    padding: 0.5rem 1rem;
    overflow: hidden;
}

.main-window {
    width: 80%;
    margin: 0;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-window > div {
    margin: 0.5rem;
}

.main-card {
    width: 100%;
    height: clamp(400px, 25rem, 100%);
    background-color: #3d3b3c;
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color: #323031;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-head-title {
    padding: 0 0 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-head-title h1 {
    margin: 0;
}

.main-head-title h2 {
    margin: 0;
}

.sans-image-container {
    padding: 1rem;
    min-height: 100px;
    min-width: 100px;
    height: 75%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
}

.sans-image-container img {
    height: 100%;
    width: auto;
    padding: 0;
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: block;
    margin: auto;
}

.main-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-sans-car-button {
    align-self: flex-end;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: cornflowerblue;
    color: var(--text-color);
    border-radius: 4px;
    border-style: none;
}

.add-sans-car-button:hover {
    background-color: #7f7979;
}
