:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #ffffff;
    --nav-color: #333333;
    --nav-size: 4rem;
    --footer-size: 3rem;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: var(--nav-color);
    height: clamp(40px, var(--nav-size), 30vh);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.title {
    
}

.main-container {
    background-color: var(--bg);
    display: flex;
    flex-direction: row;
    color: white;
}

.main-info {
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #474a4d;
}

.image-and-title {
    flex-direction: row;
    flex-wrap: nowrap;
}

.sans-image-container {
    aspect-ratio: 1/1;
    border-radius: 50%;
}